:root {
  --background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-5: #666;
  --hover: #000;
}

::selection {
  color: #000;
  background: #79ffe1;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overscroll-behavior: none;
	background-color: var(--background);
}

.protected {
	
}

#app {
	width: 100%;
}

.footer-container {
	padding-top: 48px;
	padding-bottom: 48px;
	
	background-color: var(--accents-1);
	border-top: 1px solid var(--accents-2);
}

.footer {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
}

.footer-elements {
	display: flex;
	align-items: center;
}

.footer-text-container {
	display: flex;
	flex-direction: column;
}

.footer-logo svg {
	height: 40px;
}

.footer-text {
	padding-top: 24px;
	
	color: var(--accents-5);
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.footer-buttons {
	margin-left: auto;
	
	display: flex;
	align-items: center;
}

.footer-buttons li {
	height: 20px;
	display: inline-block;
	
	display: flex;
	align-items: center;
	
	border-right: 1px solid var(--accents-2);
	
	padding-right: 15px;
	margin-right: 15px;
}

.footer-buttons li:last-child {
	border-right: none;
	
	padding-right: 0;
	margin-right: 0;
}

.footer-button {
	transition: all .2s ease;
	color: var(--accents-5);
}

.footer-button:hover {
	color: var(--hover);
}