:root {
  --primary: #000;
  --background: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-5: #666;
  --hover: #000;
}

::selection {
  color: #000;
  background: #79ffe1;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overscroll-behavior: none;
	background-color: var(--background);
}

#app {
	width: 100%;
}

.header-container {
	position: sticky;
	top: 0;
	width: 100%;
	min-height: 72px;
	
	display: flex;
	justify-content: center;
	
	transition: box-shadow .2s ease 0s,background-color .2s ease 0s;
	background-color: hsla(0, 0%, 100%, 0.8);
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	box-sizing: inherit;
	
	width: 1000px;
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
}

.header-logo {
	display: flex;
	align-items: center;
}

.header-logo svg {
	padding: 8px;
	margin: -8px;
	
	height: 40px;
	
	cursor: pointer;
}

.header-buttons {
	display: flex;
	align-items: center;
	
	margin-left: auto;
}

.header-button {
	color: var(--accents-5);
	transition: color .1s ease;
	
	margin-left: 24px;
	
	text-decoration: none;
	outline: none;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.header-button:hover {
	color: var(--hover);
}

.download-button {
	margin-left: 24px;
}

.download-button a {
	display: flex;
	align-items: center;
	
	min-width: auto;
	height: 18px;
	line-height: 0;
	font-size: 0.875rem;
	padding: 6px 12px;
	
	border-radius: 5px;
	border: 1px solid var(--primary);
	
	background-color: var(--primary);
	color: var(--background);
	outline: var(--primary) none medium;
	transition: all 0.2s ease 0s;
	
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-decoration: none;
	user-select: none;
}

.download-button:hover a {
	background-color: var(--background);
	color: var(--primary);
}

.footer-container {
	padding-top: 48px;
	padding-bottom: 48px;
	
	background-color: var(--accents-1);
	border-top: 1px solid var(--accents-2);
}

.footer {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
}

.footer-elements {
	display: flex;
	align-items: center;
}

.footer-text-container {
	display: flex;
	flex-direction: column;
}

.footer-logo svg {
	height: 40px;
}

.footer-text {
	padding-top: 24px;
	
	color: var(--accents-5);
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.footer-buttons {
	margin-left: auto;
	
	display: flex;
	align-items: center;
}

.footer-buttons li {
	height: 20px;
	display: inline-block;
	
	display: flex;
	align-items: center;
	
	border-right: 1px solid var(--accents-2);
	
	padding-right: 15px;
	margin-right: 15px;
}

.footer-buttons li:last-child {
	border-right: none;
	
	padding-right: 0;
	margin-right: 0;
}

.footer-button {
	transition: all .2s ease;
	color: var(--accents-5);
}

.footer-button:hover {
	color: var(--hover);
}